#service{
  padding-top: $paddingLg;
  i{
    color: $primaryColor;
    font-size: 50px;
  }
  .card{
    background: $lightBg;
    transition: 0.5s;
    border-radius: 10px;
    &:hover{
      box-shadow: 5px 5px 15px #ddd;
    }
  }
}